@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #25272E;
}

header {
    background: whitesmoke;
    padding: 2em;
}

header > h1 {
    color: #25272E;
    text-align: center;
    font-family: Asap, sans-serif;
}

.score-board {
    margin: 2em auto;
    border: .33em solid white;
    border-radius: .5em;
    text-align: center;
    width: 11em;
    color: #fff;
    font-size: 2em;
    padding: 1em 1.2em;
    font-family: Asap, sans-serif;
    position: relative;
    
}

.badge {
    background: red;
   color: white;
   font-size: 1em;
   padding: .2em .1em;
   font-family: Asap, sans-serif;

}

#user-label {
    position: absolute;
    top: .8em;
    left: -1.1em;
}

#computer-label {
    position: absolute;
    top:.8em;
    right: -1.7em;
}

